body{
  color: #638475;
  background-color: #FFF2C2;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin: 30px;
  font-size: 60px;
}

img{
  max-height: 432px;
  max-width: 288px;
}

@media only screen and (min-width: 1000px) {
  body{
    font-size: 40px;
    margin: 100px;
    }
}

@media only screen and (max-width: 800px) {
  body{
    font-size: 30px;
    margin: 20px;
    }
}

@media only screen and (max-width: 350px) {
  body{
    font-size: 25px;
    margin: 20px;
    }
    a.names:link{
      font-size: 10px;
    }
  }

  h2{
  font-size: 20px;
  font-weight: bolder;
  }

  h4{
    font-size: 18px;
  }

p{
  font-size: 16px;
}
#misc-words{
  font-size: 16px;
}

.header{
  /* font-size: 75px; */
  color: #638475;
}
.accordion {
  background-color: #2C3A34;
  color: #FFF2C2;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  /* border: none; */
  outline: none;
  transition: 0.4s;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
}

#names{
  border: none;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #1E1E24;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #1E1E24;
  display: none;
  overflow: hidden;
  font-size: 20px;
}

.main-btn{
  background-color: #2C3A34;
  color: #FFF2C2;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  margin-top: 30px;
}

.main-btn:hover{
  background-color: #8B94A3;
}


a.main-links:link{
  text-decoration: none;
  color: #FFF2C2;
  /* width: 100%; */
    /* padding: 18px; */
}

a.main-links:visited {
  text-decoration: none;
    color: #FFF2C2;
    /* padding: 50px; */
    /* width: 100%; */
}

a.main-links:hover {
  text-decoration: none;
  /* color: #FFF2C2;
  background-color: #8B94A3; */
}

a.main-links:active {
  text-decoration: none;
    color: #FFF2C2;
}

.p-header{
  font-size: 40px;
  color: #8B94A3;
}

a.p-link:link{
  color:#1E1E24;

}

a.p-link:visited{
  color:#1E1E24;
}

a.p-link:hover{
  color: #638475;
}

a.names:link{
  text-decoration: none;
  padding: 0 18px;
  background-color: #1E1E24;
  font-size: 20px;
  color: #638475;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
}
a.names:visited{
  text-decoration: none;
  padding: 0 18px;
  background-color: #1E1E24;
  font-size: 20px;
  color: #638475;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
}

a.names:hover{
  text-decoration: none;
  padding: 0 18px;
  background-color: #1E1E24;
  font-size: 20px;
  color: #FFF2C2;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
}

a.names:active{
  text-decoration: none;
  padding: 0 18px;
  background-color: #1E1E24;
  font-size: 20px;
  color: #638475;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
}

.names-btn{
  text-decoration: none;
  padding: 0 18px;
  background-color: #1E1E24;
  font-size: 20px;
  color: #638475;
  outline: none;
  border: none;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
}

#bottom-link{
  margin-top: 30px;
}

.edu-header{
  color: #544A3F;
  font-size: 30px;
}

.edu-para{
  color:#837463;
}

a#edu-link:link{
  color: #837463;
}


a#edu-link:visited{
    color: #837463;
}

a#edu-link:hover{
  color: #638475;
}

#movies-header{
  margin-top: 50px;
}

.edu-movie-list{
  color: #1E1E24;
}

#map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }

.org-header{
  font-size: 20px;
  margin-top: 40px;
}

a:link{
  color: #638475;
  text-decoration-color: #638475;
  text-decoration: underline;

}

a:visited{
  color: #638475;
  text-decoration-color: #638475;
  text-decoration: underline;

}

a:hover{
  color: #638475;
  text-decoration-color: #638475;
  text-decoration: underline;

}

#more {
  display: none;
}

#myBtn{
  color: #638475;
  background-color: #FFF2C2;
  font-size: 16px;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  /* outline-color: #638475; */
  /* outline-style: solid; */
  border-style: solid;
  border-color: #638475;
}

#myBtn::after{
  color: #638475;
  background-color: #FFF2C2;
  font-size: 16px;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  /* outline-color: #638475; */
  /* outline-style: solid; */
  border-style: solid;
  border-color: #638475;
  border
}

#myBtn:hover{
  color: #638475;
  background-color: #FFF2C2;
  font-size: 16px;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  /* outline-color: #638475; */
  /* outline-style: solid; */
  border-style: solid;
  border-color: #638475;
  text-decoration: none;
}

#myBtn:visited{
  color: #638475;
  background-color: #FFF2C2;
  font-size: 16px;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  /* outline-color: #638475; */
  /* outline-style: solid; */
  border-style: solid;
  border-color: #638475;
  text-decoration: none;
}


#myBtn:active{
  color: #638475;
  background-color: #FFF2C2;
  font-size: 16px;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 600;
  /* outline-color: #638475; */
  /* outline-style: solid; */
  border-style: solid;
  border-color: #638475;
  text-decoration: none;
}

.date{
  font-size: 20px;
  color: #2C3A34;
}

#date{
  font-size: 25px;
  background-color: #FFF2C2;
  /* outline-style: solid 10px; */
  border: 2.5px;
  border-style: solid;
  border-color: #2C3A34;
  color: #2C3A34;
  width:50%;
  /* margin-left: 500px;
  margin-right: 500px; */
  padding: 5px;
}

#date-panel{
  font-size: 25px;
  background-color: #FFF2C2;
  /* outline-style: solid 10px; */
  border: 2.5px;
  /* border-style: solid;
  border-color: #2C3A34; */
  color: #2C3A34;
  /* margin-left: 500px;
  margin-right: 500px; */
  /* width: 100%; */
  /* padding: 5px; */
  padding: 0px;
  display: none;
  overflow: hidden;
}



/* .date-btn{
  width:50%;
} */
